.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #000000;
  background-color: #fcca4c;
  cursor: pointer;
  transition: all 0.5s;
}

.main button:hover {
  color: #fcca4c;
  background-color: #801a08;
  border-color: #fcca4c;
}

.searchPage{
  width: 100%
}

.searchDetails{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #FCD54C;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Mobile */
@media (max-width: 700px) {
  .main {
    font-size: 0.8rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
